@font-face {
  font-family: "bebas neue";
  src: url(../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: "courier prime";
  src: url(../assets/fonts/Courier_Prime/CourierPrime-Bold.ttf);
}

@font-face {
  font-family: "open sans";
  src: url(../assets/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-header {
  background-color: #f9003d;
  height: 60px;
  display: flex;
  justify-content: end;
  align-items: center;
}

nav a {
  margin-right: 138px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-family: bebas neue;
  letter-spacing: 2px;
  color: white;
  text-shadow: 2px 2px 10px black;
}

nav a:hover {
  text-shadow: 2px 2px 10px white;
  cursor: pointer;
  background-color: white;
  color: #F9003D;
  padding: 15px 25px;
  border-radius: 5px;
}

.container-banner-principal {
  background-image: url(../img/imagem-fundo-banner\ 1.png);
  height: 740px;
}

.container-banner-principal h1 {
  width: 60%;
  color: white;
  font-family: bebas neue;
  font-size: 96px;
  text-transform: uppercase;
  margin-left: 121px;
  padding-top: 226px;
}

.container-banner-principal hr {
  width: 545px;
  margin-left: 121px;
  border-color: #F9003D;
}

.container-banner-principal h2 {
  color: #F9003D;
  font-family: courier prime;
  font-size: 56px;
  text-transform: uppercase;
  margin-left: 121px;
  margin-top: 45px;
}

.container-banner-principal img {
  margin-left: 142px;
  margin-top: 29px;
}

.container-sobreProjetos {
  background-color: #080324;
  color: white;
  display: flex;
}

.container-sobreProjetos1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 70px;
}

.container-sobreProjetos1 h2 {
  width: 100%;
  color: #F9003D;
  font-family: Bebas neue;
  font-size: 64px;
  margin-left: 120px;
  margin-top: 64px;
}

.container-sobreProjetos1 img {
  width: 491px;
  height: 476px;
  margin-top: 205px;
  margin-bottom: 126px;
  margin-left: 60px;
  margin-top: 64px;
}

.container-sobreProjetos2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-sobreProjetos2 h3 {
  font-family: courier prime;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 205px;
  margin-right: 470px;
  margin-bottom: 18px;
}

.container-sobreProjetos2 h2 {
  color: #FFAF00;
  text-transform: uppercase;
  font-size: 40px;
  margin-left: 117px;
  margin-right: 120px;
  margin-bottom: 18px;
}

.container-sobreProjetos2 p {
  font-size: 18px;
  margin-left: 117px;
  margin-right: 120px;
  text-align: justify;
}

.container-local {
  background-image: url(../img/imagem-fundo-ranking\ 2.png);
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-local .local {
  color:#A259F7;
  text-transform: uppercase;
}

.container-local p {
  font-size: 24px;
  color: white;
  font-family: courier prime;
}

.container-local h4 {
  border: 1px solid #A259F7;
  width: 289px;
  height: 100px;
  font-size: 28px;
  font-family: courier prime;
  display: flex;
  justify-content: center;
  align-items: center;
}

.endereco {
  background-image: url(../img/imagem-fundo-ranking\ 2.png);
  position: relative;
  height: 516px;
  display: flex;
}

.endereco h2 {
  color: #FFAF00;
  margin-left: 264px;
  margin-top: 82px;
  text-transform: uppercase;
  font-size: 64px;
  font-family: bebas neue;
}

.endereco-cep {
  background-color: #010010;
  border: 2px solid #340B65;
  margin-left: 264px;
  display: flex;
  align-items: center;
  color: #A259F7;
  width: 899px;
  height: 203px;
  font-size: 24px;
}

.endereco-cep p {
  margin-left: 66px;
  font-family: courier prime;
}

.endereco-mapa {
  position: absolute;
  right: 390px;
  top: 75px;
  width: 309px;
  height: 250px;
}

footer {
  background-color: #F9003D;
  height: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div p {
  color: white;
  font-size: 18px;
  font-family: open sans;
}

@media (min-width: 414px) {
  /* Style the hamburger menu */
.topnav a .icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
}
