@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

/* reset de propriedade */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: grey;
    background-color: #edeced;
}

/* *******cabeçalho******* */
.container-grid {
    width: 80%;
    max-width: 1200px;
    min-width: 992px;
    margin: 0 auto;
}
/* *********************** */

header {
    background-color: grey;
    height: 50px;
}

.header-flex {
    display: flex;
    justify-content: space-between;
}

header h1 {
    color: white;
    font-weight: 300;
}

header h1 #logoux {
    font-weight: 600;
    font-style: italic;
}

header nav {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
}

/* ********Main******** */
.colunas-flex {
    width: 90%;
    display: flex;
    justify-content: space-between;background-color: white;
    margin: 15px auto;

}

/* section coluna1 */
.coluna1 {
    width: 75%;
    display: flex;
    flex-direction: column;
}

main .coluna1 .img-lapis {
    width: 100%;
}

main h2 {
    margin-top: 20px;
    margin-left: 20px;
}

main p {
    margin: 20px 20px;
}

/* section coluna2 */
.coluna2 {
    width: 20%;
    background-color: white;
    margin: 0 auto;
}

.article-aside {
    border: solid 1px grey;
    height: 30%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.article-aside h3 {
    text-transform: capitalize;
    margin: 5px auto 10px;
}

.article-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.article-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.article-2 p {
    font-size: 12px;
    margin: 5px 15px;
    text-align: start;
}

ul li {
   margin-left: 30px;
}

.article-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.article-3 p {
    font-size: 12px;
    text-align: justify;
}

/* *******footer******* */
.grid-layout {
    background-color: gray;
    height: 60px;
    display: flex;
    align-items: center;
}

.grid-layout p {
    color: white;
    margin-left: 160px;
}